.carrito {
    width: 100%;
    background-color: #f9f4e8;
    margin-top: 30px;
    box-shadow: #6F4E37 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;

}

.resumen {
    border-bottom: 3px solid #6F4E37;
}

.total{
    font-family: 'Staatliches', cursive;
    color: #6F4E37;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.pago {
    background-color: #6F4E37;
    color: #f9f4e8;
    height: 50px;
    width: 180px;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 2%;
    margin-right: auto;
  }
  
  .pago:hover {
    background-color: #846F5A;
  }