body {
    visibility: hidden;
}


.cate {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 40% 60%;
    top: 0;
    gap: 15px;
    margin-top: 5px;
}

.categoria {
    width: 80%;
    margin-bottom: 2%;
    margin-top: 3%;
    padding-left: 7%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4%;
    font-size: 100%;
    color: #F3CAA2;
}

.alldatos {
    width: 800px;
    background-color: #f9f4e8;
    border-radius: 5px;
    box-shadow: #1D1B1E 0px 1px 30px 1px;
    .name{
        color: #6F4E37;
    }
}

.datos {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    border:1px solid #6F4E37;
    text-align: left;
    color: #1D1B1E;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    box-sizing: border-box;
    padding-left: 10px;
}


.datos:focus {
    outline: none;
    box-shadow: 0px 0px 10px #f3cba2bb;
}


.mostrar {
    width: 455px;
    height: 354.9px;
    border: 2px solid #f9f4e8;
    box-shadow: #1D1B1E 0px 1px 30px 1px;
    margin-top: 12px;
    object-fit: contain;
    background-color: white;
}


.Invisible {
    display: none;
}

label {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #6F4E37;
    color: #f9f4e8;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

label:hover {
    background-color: #5a3e2b;
    color: #ffffff;
}


.description {
    width: 100%;
    background-color: whitesmoke;
    margin-top: 5.5%;
}

.si {
    width: 80%;
    padding-top: 5px;
    gap: 10%;
    font-size: 100%;
    background-color: #f9f4e8;
    border-radius: 5px;
    color: #6F4E37;
    box-shadow: #1D1B1E 0px 1px 30px 1px;
}

.descr {
    background-color: #ffffff;
    width: 95%;
    font-size: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif, bold;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px;
}

.descr:focus {
    outline: none;
    box-shadow: 0px 0px 10px #f3cba2bb;
}

.miniheader {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sino {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    color: #f9f4e8;
    background-color: #6F4E37;
    font-size: 130%;
    border: none;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sino:hover {
    background-color: #5a3e2b;
    color: #ffffff;
}