body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

#formulario-actualizacion {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  background-color: #f9f4e8;
  font-family: "Cal Sans", sans-serif;
  font-style: normal;
}

#formulario-actualizacion label,
#formulario-actualizacion select,
#formulario-actualizacion textarea,
#formulario-actualizacion button {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.datos {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f4e8;
  font-family: "Cal Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

@media (min-width: 768px) {
  #formulario-actualizacion,
  .datos {
    max-width: 500px;
  }

  button {
    width: 50%;
    align-self: center;
  }
}
