#formulario-actualizacion {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
  }

  label,
  select,
  textarea,
  button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }