.imagenp {
    width: 170%;
    border: 0px solid #1D1B1E;
    box-shadow: #1D1B1E 0px 1px 30px 1px;
    margin-bottom: 30px;
}

.infoproduc {
    margin-top: 3%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
}

.izquierdica {
    width: 50%;
    height: 100%;
}

.derechita {
    width: 100%;
    height: 100%;
}

.Reseñas {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5e6d6;
    border-radius: 10px 10px 0px 0px;
    bottom: 0;
}

.Comentarios {
    width: 60%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .sino2 {
        width: 100px;
        height: 40px;
    }

    .stars {
        margin-bottom: 10px;
    }
}

.descr {
    background-color: #ffffff;
    width: 100%;
    font-size: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif, bold;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

.descr:focus {
    outline: none;
    box-shadow: 0px 0px 10px #f3cba2bb;
}

.rese {
    width: 60%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 2px solid #1d1b1e80;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    .stars {
        margin-bottom: 10px;
    }

    .puc {
        padding-left: 0;
    }

    .infop {
        padding: 0;
        margin: 0;
        text-align: left;
    }
}

/* Estrellas generales */
.stars i {
    font-size: 24px;
    color: #ccc;
    /* Gris claro por defecto */
    margin-right: 5px;
    transition: color 0.3s;
    cursor: pointer;
}

/* Hover sobre estrellas no seleccionadas */
.stars i:hover,
.stars i:hover~i {
    color: #FFD700;
    /* Dorado */
}

/* Estrellas activas (seleccionadas o fijas) */
.stars i.fa-solid {
    color: #FFD700;
}

/* Mitad de estrella */
.stars i.fa-star-half-stroke {
    color: #FFD700;
}

.puc {
    color: #1D1B1E;
    letter-spacing: 2px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.infop {
    color: #1D1B1E;
    letter-spacing: 2px;
    font-family: "Alegreya Sans", sans-serif;
    text-align: justify;
    line-height: 1.5;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.sino2 {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    color: #F3CAA2;
    background-color: #1D1B1E;
    font-size: 130%;
    border: none;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sino2:hover {
    background-color: #846F5A;
    color: #ffffff;
}